---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("post");

  return posts.map((post) => ({
    params: { handle: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"post">
}

const {
  post: {
    data: { title, description, date, published },
    render,
  },
} = Astro.props;

const { Content } = await render();
const formattedDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<PageLayout
  title={title}
  description={description}
  image={`https://image.luxass.dev/og/blog/?title=${title}&date=${formattedDate}&description=${description}`}
>
  <div class="prose tracking-wide">
    {
      !published && (
        <blockquote
          class="my-8 border border-red-400 rounded border-dashed bg-red-900 py-4 pl-4"
          role="alert"
        >
          This post is a <strong>draft</strong>. It may be incomplete or contain
          inaccuracies.
        </blockquote>
      )
    }

    <h1 class="mt-8">{title}</h1>
    <Content />
  </div>
</PageLayout>
