---
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Code from "../../components/mdx-components/code.astro";

import Pre from "../../components/mdx-components/pre.astro";
import PageLayout from "../../layouts/page-layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { handle: post.data.handle || post.id },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const {
  data: { title, description, date },
} = post;

const { Content } = await render(post);

export const prerender = true;
---

<PageLayout
  title={`${title} - posts - luxass.dev`}
  description={description}
  image={`https://image.luxass.dev/api/image/post?title=${title}&description=${description}&date=${date}`}
>
  <h1 class="mt-8">
    {title}
  </h1>
  <article class="tracking-wide prose markdown">
    <Content
      components={{
        code: Code,
        pre: Pre,
      }}
    />
  </article>
</PageLayout>
