---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

import Code from "../../components/content/mdx/Code.astro";
import Pre from "../../components/content/mdx/Pre.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { handle: post.data.handle || post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"posts">;
}

const {
  post: {
    data: { title, description, date },
    render,
  },
} = Astro.props;

const { Content } = await render();

export const prerender = true;
---

<PageLayout
  title={`${title} - posts - luxass.dev`}
  description={description}
  image={`https://image.luxass.dev/api/image/post?title=${title}&description=${description}&date=${date}`}
>
  <a href="/posts">Go Back to posts</a>
  <article class="tracking-wide prose markdown">
    <h1 class="mt-8">
      {title}
    </h1>
    <Content
      components={{
        code: Code,
        pre: Pre,
      }}
    />
  </article>
</PageLayout>
