---
import { Icon } from "astro-icon";
import type { Project } from "../../data/projects";
import Card from "../ui/Card.astro";
import Link from "../ui/Link.astro";

// import GitHubLogo from "~icons/carbon/LogoGithub";
// import NPMIcon from "~icons/logos/NpmIcon";

export interface Props {
  project: Project
}

const { project } = Astro.props;

const { name, description, language, url: githubUrl, isContributor, $projectrc, $values } = project;

const url = $projectrc?.readme ? `/projects/${name}` : githubUrl;
---

<Card class="flex flex-col justify-between gap-y-2">
  <div class="flex flex-col gap-y-2">
    <div class="flex items-center justify-between">
      <Link href={url} class="overflow-hidden text-ellipsis whitespace-nowrap underline underline-offset-4">
        {name}
      </Link>
      <div class="flex items-center gap-2">
        {
          $projectrc.npm && $values.npm?.url && (
            <Link href={$values.npm.url} aria-label="NPM Package">
              <Icon name="logos:npm-icon" class="w-6 h-6" />
            </Link>
          )
        }
        <Link href={githubUrl} aria-label="Github">
          <Icon name="carbon:logo-github" class="w-6 h-6" />
        </Link>
      </div>
    </div>
    <p class="text-sm">{description}</p>
  </div>
  {
    language && (
      <div class="flex items-center justify-between text-sm">
        <span
          class="underline decoration-[--language-color] underline-offset-4 decoration-wavy"
          style={{
            "--language-color": language.color,
          }}
        >
          {language.name}
        </span>

        {isContributor && (
          <Link href={`${githubUrl}/commits?author=luxass`} class="text-gray-500">
            Contributor
          </Link>
        )}
      </div>
    )
  }
</Card>
