---
import type { CollectionEntry } from "astro:content";
import readingTime from "reading-time";
import Card from "./Card.astro";

export interface Props {
  post: CollectionEntry<"posts">
}

const {
  post: {
    data: { title, description, date },
    slug,
    body,
  },
} = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const time = readingTime(body);
---

<Card href={`/posts/${slug}`} class="flex flex-col" component="li">
  <h3 class="!my-0">{title}</h3>

  <p class="flex-1">{description}</p>

  <span class="flex items-center gap-x-1">
    <div class="i-carbon:calendar"></div>
    {formattedDate}
  </span>
  <span class="flex items-center gap-x-1">
    <div class="i-carbon:alarm"></div>
    {time.text}
  </span>
</Card>
