---
import type { Project } from "../data/projects";
import Card from "./Card.astro";
import Link from "./Link.astro";
import GitHubLogo from "~icons/carbon/LogoGithub";

export interface Props {
  project: Project
}

const { project } = Astro.props;

const {
  name,
  description,
  language,
  url: githubUrl,
  isContributor,
  projectrc,
} = project;

const url = projectrc?.readme ? `/projects/${name}` : githubUrl;
---

<Card class="flex flex-col justify-between gap-y-2">
  <div class="flex flex-col gap-y-2">
    <div class="flex items-center justify-between">
      <Link href={url} class="overflow-hidden text-ellipsis whitespace-nowrap underline underline-offset-4">
        {name}
      </Link>
      <Link href="github:luxass" aria-label="Github">
        <GitHubLogo class="text-lg" />
      </Link>
    </div>
    <p class="text-sm">{description}</p>
  </div>
  {
    language && (
      <div class="flex items-center justify-between text-sm">
        <span
          class="underline decoration-[--language-color] underline-offset-4 decoration-wavy"
          style={{
            "--language-color": language.color,
          }}
        >
          {language.name}
        </span>

        {isContributor && (
          <Link
            href={`${githubUrl}/commits?author=luxass`}
            class="text-gray-500"
          >
            Contributor
          </Link>
        )}
      </div>
    )
  }
</Card>
