---
export type Props = {
  title: string
  description: string
  image?: string
};

const { title, description, image = new URL("https://image.luxass.dev/og/text?width=300&height=300") } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- optional meta tags -->
    <meta name="darkreader-lock" />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="luxass.dev" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- links -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- vercel analytics -->
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body class="mx-auto max-w-2xl min-h-screen py-8">
    <main>
      <slot />
    </main>
  </body>
</html>

<script is:inline>
const theme = (() => {
  if (typeof localStorage !== "undefined" && localStorage.getItem("site:theme")) {
    return localStorage.getItem("site:theme");
  }

  if (window.matchMedia("(prefers-color-scheme: light)").matches) {
    return "light";
  }
  return "dark";
})();

if (theme === "light") {
  document.documentElement.classList.remove("dark");
} else {
  document.documentElement.classList.add("dark");
}

window.localStorage.setItem("site:theme", theme);
</script>

<style is:global>
  html,
  body {
    @apply bg-gray-900 text-gray-100 font-inter;
  }
</style>
